appnope==0.1.0
boto==2.39.0
cmd2==0.6.8
cycler==0.10.0
dask==0.8.1
decorator==4.0.9
docopt==0.6.2
eventlet==0.17.4
fake-factory==0.5.7
Flask==0.10.1
Flask-WTF==0.9.5
Flask-SocketIO==1.0
fuzzywuzzy==0.10.0
gevent==1.1.0
gevent-socketio==0.3.6
gevent-websocket==0.9.5
gitdb==0.6.4
GitPython==1.0.2
gnureadline==6.3.3
greenlet==0.4.9
gunicorn==18.0
ipaddress==1.0.16
ipython==4.1.2
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
networkx==1.11
numpy==1.10.4
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
psutil==4.1.0
psycopg2==2.6.1
ptyprocess==0.5.1
pyparsing==2.1.0
python-dateutil==2.5.1
python-engineio==0.9.0
python-socketio==1.2
pytz==2016.1
request==0.0.2
requests==2.9.1
setproctitle==1.1.9
sh==1.11
simplegeneric==0.8.1
six==1.10.0
smmap==0.9.0
toolz==0.7.4
traitlets==4.2.1
ua-parser==0.7.0
user-agents==1.0.1
Werkzeug==0.10.4
WTForms==1.0.5
