{% extends "main.html" %}

{% block includes %}
<script src="{{ url_for('static', filename='js/mistakes.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vex-js/2.3.4/js/vex.combined.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/2.3.4/css/vex.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/2.3.4/css/vex-theme-default.css" />

     <script src="https://neil.fraser.name/software/diff_match_patch/svn/trunk/javascript/diff_match_patch.js"></script>

    <SCRIPT TYPE="text/javascript" LANGUAGE="JavaScript">

        $(document).ready(function() {

          var dmp = new diff_match_patch();

          $(".diff").each(function (i) {

              var text1 = $("#original_"+i).text();
              var text2 = $("#correction_"+i).text();
              dmp.Diff_Timeout = 1;
              dmp.Diff_EditCost = 4;

              var d = dmp.diff_main(text1, text2);
              dmp.diff_cleanupEfficiency(d);
              var ds = dmp.diff_prettyHtml(d);

              $(this).html(ds);
          });
      });
    </SCRIPT>

{% endblock %}

{% block body %}

<div class="container" style="margin-top: 15px">
   {% if status != "" %}
  <table class="table table-striped">
      <tr>
        <td>Status: </td>
        <td>{{ status }}</td>
        <td>
              <form action="/check_assignment/{{ assignment_id }}" method="POST">
                  <select name="status">
                      <option value="approved">Approved</option>
                      <option value="rejected">Rejected</option>
                  </select>
                  <input type="submit" value="Update status">
              </form>
        </td>
  </tr>
  </table>
{% endif %}
    <br>    <br>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Dialogue</th>
      <th>Questions</th>
      <th>Correction</th>
      <th>Diff</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <input type="hidden" name="assignment_id" id="assignment_id" value="{{assignment_id}}" />
    <input type="hidden" name="worker_id" id="worker_id" value="{{worker_id}}" />
    <input type="hidden" name="turk_submit_to" id="turk_submit_to" value="{{turk_submit_to}}" />

    {% set m = 0 %}
  	{% for diff in differences %}
      <tr>
          <td><a href="/dialogue/{{diff.dialogue_id}}">{{diff.dialogue_id}}</a></td>
	      <td><span id="original_{{ m }}">{{diff.original}}</span></td>
	      <td><span id="correction_{{ m }}">{{diff.correction}}</span></td>
          <td><span class="diff"></span></td>
          <td>
              {% if diff.valid == True %}
                <span style="color:green">Yes</span>
                {% elif diff.report == True %}
                <span style="color:red">Report</span>
                {% else %}
                <span style="color:orange">No</span>
                {% endif %}
          </td>
        </tr>
        {% set m = m +1 %}
	{% endfor %}
  {% if hit_accepted %}
  <tr>
    <td></td>
    <td></td>
  </tr>
  {% endif %}
  </tbody>
  </table>
</div>

{% endblock %}


