{% extends "main.html" %}

{% block includes %}
    <script src="https://neil.fraser.name/software/diff_match_patch/svn/trunk/javascript/diff_match_patch.js"></script>

    <SCRIPT TYPE="text/javascript" LANGUAGE="JavaScript">

        $(document).ready(function() {

          var dmp = new diff_match_patch();

          $(".diff").each(function (i) {

              var text1 = $("#original_"+i).text();
              var text2 = $("#correction_"+i).text();
              dmp.Diff_Timeout = 1;
              dmp.Diff_EditCost = 4;

              var d = dmp.diff_main(text1, text2);
              dmp.diff_cleanupEfficiency(d);
              var ds = dmp.diff_prettyHtml(d);

              $(this).html(ds);
          });
      });
    </SCRIPT>
}
{% endblock %}




{% block body %}


<div class="container" style="margin-top: 15px">
   {% if status != "" %}
  <table class="table table-striped">
      <tr>
        <td>Status: </td>
        <td>{{ status }}</td>
        <td>
              <form action="/check_assignment/{{ assignment_id }}" method="POST">
                  <select name="status">
                      <option value="approved">Approved</option>
                      <option value="rejected">Rejected</option>
                  </select>
                  <input type="submit" value="Update status">
              </form>
        </td>
  </tr>
  </table>
{% endif %}
  <table class="table table-striped">
  	<thead>
    <tr>
        <th>Dialogue</th>
      <th>Original</th>
      <th>Correction</th>
      <th>Diff</th>
      <th>valid</th>
    </tr>
  </thead>
  <tbody>
  {% set i = 0 %}
  	{% for c in corrections %}
	    <tr>
          <th scope="row"><a href="/dialogue/{{c.dialogue_id}}">{{c.dialogue_id}}</a></th>
	      <td><span id="original_{{ i }}">{{c.original}}</span></td>
	      <td><span id="correction_{{ i }}">{{c.correction}}</span></td>
          <td><span class="diff"></span></td>
          <td>
                  {% if c.is_valid == True %}
                <span style="color: #689F38">Yes</span>
        {% else  %}
                <span style="color: #F44336">No</span>
        {% endif %}
          </td>
	    </tr>
        {% set i = i +1 %}
	{% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}

