{% extends "main.html" %}

{% block includes %}
<script src="{{ url_for('static', filename='js/mistakes.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vex-js/2.3.4/js/vex.combined.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/2.3.4/css/vex.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/2.3.4/css/vex-theme-default.css" />

     <script src="https://neil.fraser.name/software/diff_match_patch/svn/trunk/javascript/diff_match_patch.js"></script>

    <SCRIPT TYPE="text/javascript" LANGUAGE="JavaScript">

        $(document).ready(function() {

          var dmp = new diff_match_patch();

          $(".diff").each(function (i) {

              var text1 = $("#original_"+i).text();
              var text2 = $("#correction_"+i).text();
              dmp.Diff_Timeout = 1;
              dmp.Diff_EditCost = 4;

              var d = dmp.diff_main(text1, text2);
              dmp.diff_cleanupEfficiency(d);
              var ds = dmp.diff_prettyHtml(d);

              $(this).html(ds);
          });
      });
    </SCRIPT>

{% endblock %}

{% block body %}

<div class="container" style="margin-top: 15px">
    <h2>Instructions</h2>
    <p>You have to be a native english speaker in order to participate in this HIT. </p>
    <p>Your task is to check weither the following 50 questions were correctly reformulate. The questions are extracted from the GuessWhat!? game in which a player locates an object in a picture by asking yes/no questions. For some questions more context is necessary to correct them, clicking on the 'show dialogue' button will show the game which the question was part of. </p>

    <p>You have to select</p>
     <ul>
      <li><span style="color:green">Yes</span> if the reformulation preserve the initial meaning of the question AND there is no english mistakes</li>
      <li><span style="color:orange">No</span> when the reformulation lower the initial meaning of the question OR if the reformulation contains english mistakes</li>
      <li><span style="color:red">Report</span> if the original/final question make no-sense regarding the dialogue OR the final question contains slang words</li>
    </ul>

    <p>
    Two example corrections:
    </p>
    <ul>
      <li>ba na na? -> Is it a banana? <span style="color:green">Yes</span></li>
      <li>in left of pic the far 2... one of them -> Is it one of the far two in the left of the picture? <span style="color:green">Yes</span></li>
      <li>Is it the man is the wite T-shirt? --> Is it a man? <span style="color:orange">No</span></li>
      <li>Is it 1 of these f*** eggs? --> Is it one of these f****** eggs? <span style="color:red">Report</span></li>
      <li>Is it 1 of the f*** eggs? --> Is it one of the eggs? <span style="color:green">Yes</span></li>
    </ul>

    <p>For any further questions regarding the HIT, please contact Harm de Vries at guesswhat.mturk@gmail.com.</p>
    <br>    <br>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Questions</th>
      <th>Correction</th>
      <th>Diff</th>
      <th><span style="color:green">Yes</span></th>
      <th><span style="color:orange">No</span></th>
      <th><span style="color:red">Report</span></th>
    </tr>
  </thead>
  <tbody>
    <form action="/correct_diff" method="POST">
    <input type="hidden" name="assignment_id" id="assignment_id" value="{{assignment_id}}" />
    <input type="hidden" name="worker_id" id="worker_id" value="{{worker_id}}" />
    <input type="hidden" name="turk_submit_to" id="turk_submit_to" value="{{turk_submit_to}}" />

    {% set m = 0 %}
  	{% for diff in differences %}
      <tr>
	      <td><span id="original_{{ m }}">{{diff.original}}</span></td>
	      <td><span id="correction_{{ m }}">{{diff.correction}}</span></td>
          <td><span class="diff"></span></td>
                <td><input type="radio" name="radio_{{ m }}" value="Yes"></td>
                <td><input type="radio" name="radio_{{ m }}" value="No"></td>
                <td><input type="radio" name="radio_{{ m }}" value="Report"></td>
        <td><a class="btn btn-info show_dialogue" value="{{ m }}" role="button">Display dialogue &raquo;</a>
        <input type="hidden" name="question_id_{{m}}" id="question_id_{{ m }}" class="question_id" value="{{ diff.question_id }}">
        <input type="hidden" name="dialogue_id_{{m}}" id="dialogue_id_{{ m }}" class="dialogue_id" value="{{ diff.dialogue_id }}">
        <input type="hidden" name="typo_id_{{m}}" id="typo_id_{{ m }}" class="typo_id" value="{{ diff.typo_id }}">
        <input type="hidden" name="fix_id_{{m}}" id="fix_id_{{ m }}" class="fix_id" value="{{ diff.fix_id }}">
         <div id="log_{{ m }}" style="display: none">
                <img src="{{ diff.img }}" style="margin:0px auto;display:block;max-width:500px:max-height:500px">
                <table class="table table-striped">
                     <thead>
                        <tr>
                          <th>Question</th>
                          <th>Answer</th>
                        </tr>
                      </thead>
                       <tbody id="exchange_table">
                       {% set i = 0 %}
                       {% for entry in diff.qas %}
                           <tr>
                           {% if i == diff.question_index  %}
                             <td class="well well-sm"> <span style="color: #F44336">{{ entry.question}}</span> </td>
                             <td class="well well-sm"> <span style="color: #F44336">{{ entry.answer}}</span> </td>
                           {% else %}
                              <td class="well well-sm">{{ entry.question}}</td>
                              <td class="well well-sm">{{ entry.answer}}</td>
                           {% endif %}
                           <tr/>
                           {% set i = i + 1 %}
                        {% endfor %}
                      </tbody>
                </table>
            </div>
          </td>
        </tr>
        {% set m = m +1 %}
	{% endfor %}
  {% if hit_accepted %}
  <tr>
    <td></td>
    <td></td>
    <td><input type="submit" id="submit_button" class="btn btn-success" role="button" value="Complete &raquo;" /></form></td>
  </tr>
  {% endif %}
  </tbody>
  </table>
</div>

{% endblock %}


