{% extends "main.html" %}

{% block includes %}
<script src="{{ url_for('static', filename='js/mistakes.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vex-js/2.3.4/js/vex.combined.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/2.3.4/css/vex.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/2.3.4/css/vex-theme-default.css" />
{% endblock %}

{% block body %}

<div class="container" style="margin-top: 15px">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Questions</th>
      <th>Your correction</th>
      <th>More context</th>
    </tr>
  </thead>
  <tbody>
    <form action="/correct_questions" method="POST">
    <input type="hidden" name="assignment_id" id="assignment_id" value="{{assignment_id}}" />
    <input type="hidden" name="worker_id" id="worker_id" value="{{worker_id}}" />

    {% set m = 0 %}
  	{% for mistake in mistakes%}
      <tr>
        <td> <span>{{mistake.question}} </span></td>
        <td><input type="text" name="text_{{m}}" id="text_{{ m }}" class="form-control" value="" required></td>
        <td><a class="btn btn-info show_dialogue" value="{{ m }}" role="button">Display dialogues &raquo;</a>
        <input type="hidden" name="question_id_{{m}}" id="question_id_{{ m }}" class="question_id" value="{{ mistake.question_id }}">
        <input type="hidden" name="dialogue_id_{{m}}" id="dialogue_id_{{ m }}" class="dialogue_id" value="{{ mistake.dialogue_id }}">
         <div id="log_{{ m }}" style="display: none">
                <img src="{{ mistake.img }}">
                <table class="table table-striped">
                     <thead>
                        <tr>
                          <th>Question</th>
                          <th>Answer</th>
                        </tr>
                      </thead>
                       <tbody id="exchange_table">
                       {% set i = 0 %}
                       {% for entry in mistake.qas %}
                           <tr>
                           {% if i == mistake.question_index  %}
                             <td class="well well-sm"> <span style="color: #F44336">{{ entry.question}}</span> </td>
                             <td class="well well-sm"> <span style="color: #F44336">{{ entry.answer}}</span> </td>
                           {% else %}
                              <td class="well well-sm">{{ entry.question}}</td>
                              <td class="well well-sm">{{ entry.answer}}</td>
                           {% endif %}
                           <tr/>
                           {% set i = i +1 %}
                        {% endfor %}
                      </tbody>
                </table>
            </div>
          </td>
        </tr>
        {% set m = m +1 %}
	{% endfor %}
  </tbody>
  </table>

  <input type="submit" id="submit_button" class="btn btn-success" role="button" value="Complete" />
  </form>
</div>

{% endblock %}


