{% extends "main.html" %}

{% block includes %}
<script src="{{ url_for('static', filename='js/mistakes.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vex-js/2.3.4/js/vex.combined.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/2.3.4/css/vex.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/2.3.4/css/vex-theme-default.css" />
{% endblock %}

{% block body %}

<div class="container" style="margin-top: 15px">
    <h2>Instructions</h2>
    <p>You have to be a native english speaker in order to participate in this HIT. </p>
    <p>
    Your task is to reformulate questions to correct english. The questions are extracted from the GuessWhat!? game in which a player locates an object in a picture by asking yes/no questions. For some questions more context is necessary to correct them, clicking on the 'show dialogue' button will show the game which the question was part of. </p>
    <p>
    Two example corrections:
    </p>
    <ul>
      <li>ba na na? -> Is it a banana?</li>
      <li>in left of pic the far 2... one of them -> Is it one of the far two in the left of the picture?</li>
    </ul>
    </p>
    <p>Note further that a questions must:</p>
     <ul>
      <li>contain at least three words</li>
      <li>end with a question tag (?)</li>
    </ul>
    <p>Your correction will be colored:</p>
    <ul>
      <li>In <span style="color:red">red</span> if it does not follow the above constraints</li>
      <li>In <span style="color:orange">orange</span> if no correction has been made (in some cases this is fine) </li>
      <li>In <span style="color:green">green</span> if it has been modified</li>
    </ul>
    <p>Some displayed questions may have already been corrected by other workers. If the displayed question make no sense, you may display the original question by hovering it or displaying the full dialogue. </p>
    <p>For any questions regarding the HIT, please contact Harm de Vries at guesswhat.mturk@gmail.com.</p>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Questions</th>
      <th>Your correction</th>
      <th>More context</th>
    </tr>
  </thead>
  <tbody>
    <form action="/correct_questions" method="POST">
    <input type="hidden" name="assignment_id" id="assignment_id" value="{{assignment_id}}" />
    <input type="hidden" name="worker_id" id="worker_id" value="{{worker_id}}" />
    <input type="hidden" name="turk_submit_to" id="turk_submit_to" value="{{turk_submit_to}}" />

    {% set m = 0 %}
  	{% for mistake in mistakes%}
      <tr>
        <td> <span id="span_{{m}}" title="Original question: {{ mistake.question_original }}" >{{mistake.question_to_show}}</span></td>
        <td><input type="text" name="text_{{m}}" id="text_{{ m }}" class="form-control fixed_question" value="" title="The questions must have at least three words and end with a question tag." pattern="[A-Za-z!#.,]+ [A-Za-z!#.,]+ [A-Za-z!#.,]+.*\?" required></td>
        <td><a class="btn btn-info show_dialogue" value="{{ m }}" role="button">Display dialogue &raquo;</a>
        <input type="hidden" name="question_id_{{m}}" id="question_id_{{ m }}" class="question_id" value="{{ mistake.question_id }}">
        <input type="hidden" name="dialogue_id_{{m}}" id="dialogue_id_{{ m }}" class="dialogue_id" value="{{ mistake.dialogue_id }}">
         <div id="log_{{ m }}" style="display: none">
                <img src="{{ mistake.img }}" style="margin:0px auto;display:block;max-width:500px:max-height:500px">
                <table class="table table-striped">
                     <thead>
                        <tr>
                          <th>Question</th>
                          <th>Answer</th>
                        </tr>
                      </thead>
                       <tbody id="exchange_table">
                       {% set i = 0 %}
                       {% for entry in mistake.qas %}
                           <tr>
                           {% if i == mistake.question_index  %}
                             <td class="well well-sm"> <span style="color: #F44336">{{ entry.question}}</span> </td>
                             <td class="well well-sm"> <span style="color: #F44336">{{ entry.answer}}</span> </td>
                           {% else %}
                              <td class="well well-sm">{{ entry.question}}</td>
                              <td class="well well-sm">{{ entry.answer}}</td>
                           {% endif %}
                           <tr/>
                           {% set i = i +1 %}
                        {% endfor %}
                      </tbody>
                </table>
            </div>
          </td>
        </tr>
        {% set m = m +1 %}
	{% endfor %}
  {% if hit_accepted %}
  <tr>
    <td></td>
    <td></td>
    <td><input type="submit" id="submit_button" class="btn btn-success" role="button" value="Complete &raquo;" /></form></td>
  </tr>
  {% endif %}
  </tbody>
  </table>
</div>

{% endblock %}


