{% extends "main.html" %}

{% block includes %}
{% if accepted_hit %}
<meta id="namespace" data-name="{{namespace}}">
<script src="{{ url_for('static', filename='js/image_utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/questioner.js') }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vex-js/2.3.4/js/vex.combined.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/2.3.4/css/vex.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/2.3.4/css/vex-theme-default.css" />
{% endif %}
{% endblock %}

{% block infobar %}
<div class="default navbar-fixed-top" id="info">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <div id ="info_text">
          </div>
          <div id="waiting">
            <div class="row">
              <div class="col-sm-1" id="w_time"></div>
              <div class="col-sm-10"><span class="loader"><span class="loader-inner"></span></span><span id="waiting_text"></span></div>
            </div>
          </div>
          <div id="question">
            <div class="row">
              <div class="col-sm-1" id="q_time"></div>
              <div class="col-sm-9"><input autocomplete="off" type="text" id="newquestion" placeholder="Ask a new question" class="form-control"></div>
              <div clas="col-sm-1"><a class="btn btn-success" id="ask" type="submit">Ask</a></div>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div id="guess">
            <a class="btn btn-primary" id="guessbtn">GuessWhat!</a>
          </div>
          <div id="object">
          </div>
        </div>
        <div class="col-sm-2">
          <div id="report"><a id="report_user" class="btn btn-danger">Report player</a>
          </div>
        </div>
      </div>
    </div>
 </div>
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-10" id="left">
      <div id="log"></div>
      <div id="intro" style="font-weight: 400">
        <div id="group">
          {% if namespace == '/q_questioner' %}
            <div class="current well">

              <h3>Game instructions for questioner player</h3>
              <ul>
              <li>This is a two player game, yourself and an oracle. </li>
              <li>You will be shown an image of a scene with multiple objects. </li>
              <li>One of the objects will be assigned as the target (but not visible to you). </li>
              <li>Your job is to locate that object by asking yes or no questions.</li>
              <li>You click on the GuessWhat! button once you are <u>certain</u> which object it is. </li>
              <li>All object segmentations are then shown in the image, and you click on the correct object.</li>
              </ul>
              <p>In the following we walk you step by step through an example game. </p>
            </div>
            <div class="well">
              <img class="img-responsive" src="{{ url_for('static', filename='questioner_img/32.png') }}" />
            </div>
            <div class="well">
              <img class="img-responsive" src="{{ url_for('static', filename='questioner_img/33.png') }}" />
            </div>
            <div class="well">
              <img class="img-responsive" src="{{ url_for('static', filename='questioner_img/57.png') }}" />
            </div>
            <div class="well">
              <img class="img-responsive" src="{{ url_for('static', filename='questioner_img/65.png') }}" />
            </div>
            <div class="well">
              <img class="img-responsive" src="{{ url_for('static', filename='questioner_img/70.png') }}" />
            </div>
            <div class="well">
              <img class="img-responsive" src="{{ url_for('static', filename='questioner_img/93.png') }}" />
            </div>
            <div class="well">
              <img class="img-responsive" src="{{ url_for('static', filename='questioner_img/142.png') }}" />
            </div>
            <div class="well">
              <img class="img-responsive" src="{{ url_for('static', filename='questioner_img/214.png') }}" />
            </div>
            <div class="well">
              <img class="img-responsive" src="{{ url_for('static', filename='questioner_img/232.png') }}" />
            </div>
            <div class="well">
              <img class="img-responsive" src="{{ url_for('static', filename='questioner_img/274.png') }}" />
            </div>
            <div class="well">
              <img class="img-responsive" src="{{ url_for('static', filename='questioner_img/299.png') }}" />
            </div>
            <div class="well">
              <img class="img-responsive" src="{{ url_for('static', filename='questioner_img/351.png') }}" />
            </div>
            <div class="well">
              <img class="img-responsive" src="{{ url_for('static', filename='questioner_img/364.png') }}" />
            </div>
            <div class="well">
              <img class="img-responsive" src="{{ url_for('static', filename='questioner_img/407.png') }}" />
            </div>
            <div class="well">
              <img class="img-responsive" src="{{ url_for('static', filename='questioner_img/415.png') }}" />
            </div>
            <div class="well">
              <img class="img-responsive" src="{{ url_for('static', filename='questioner_img/416.png') }}" />
            </div>
            <div class="well">
              <img class="img-responsive" src="{{ url_for('static', filename='questioner_img/420.png') }}" />
            </div>
            <div class="well">
              <h3>Important rules for this HIT</h3>
              <ul>
              <li>In this HIT we ask you to successfully complete <b>10 games</b>.</li>
              <li>Your HIT will be approved if you <b>do not make more than 3 mistakes</b>.</li>
              <li>Because this is a live game, we consider it a <b>mistake when you disconnect from the server</b> while you are participating in a game.</li>
              </ul>
              <p>Do not hesitate to contact Harm de Vries at mail (at) harmdevries.com if you have any further questions.</p>
            </div>
          {% else %}
            <div class="well current">
              <h3>Important information for this HIT</h3>
              <p>
              You can keep playing the game; you will never need to submit this HIT. We will add a bonus to your qualification HIT for every game you successfully finish.  
              The exact reward depends on <b>your score in your last 10 games</b>: </p>
              <table class="table table-striped">
              <tr>
                <th>Number of successes</th>
                <th>Reward</th>
              </tr>
              <tr>
                <td>10</td><td>0.07</td>
              </tr>
              <tr>
                <td>9</td><td>0.06</td>
              </tr>
              <tr>
                <td>6-8</td><td>0.04</td>
              </tr>
              <tr>
                <td>0-5</td><td>0</td>
              </tr>
              </table>
            </div>
          {% endif %}
        </div>

        <div class="well" id="newgame_text" style="display: none"></div> 
        <div class="row" id="navigation">
          <div class="col-xs-6">
            <a id="prevbtn" class="btn btn-info" style="display: none">Previous</a>
          </div>
          <div class="col-xs-6">
            <a id="nextbtn" class="btn btn-info" style="float:right">Next &raquo;</a>
            {% if accepted_hit %}
              <a class="btn btn-success" id="newgame" style="display: none; float: right" role="button">Start a game &raquo;</a>
              <form id="qualified" method="POST" action="{{turkSubmitTo}}/mturk/externalSubmit">
                <input type="hidden" id="assignmentId" name="assignmentId" value="{{assignmentId}}" />
                <input type="hidden" name="test" value="test" />
                <input type="submit" class="btn btn-success" role="button" value="Submit HIT" style="float:right" />
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2" id ="right">
      <div style="position: relative;" id="image">
      <canvas id="img" width="100" height="100" 
       style="position: absolute; left: 0; top: 0; z-index: 0;"></canvas>
      <canvas id="segment" width="100" height="100" 
         style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
      </div>
    </div>
  </div>
</div>
{% endblock %}