{% extends "main.html" %}

{% block includes %}
{% if accepted_hit %}
<script src="{{ url_for('static', filename='js/image_utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/questioner.js') }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
{% endif %}
{% endblock %}

{% block infobar %}
<div class="default navbar-fixed-top" id="info">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <div id ="info_text">
          </div>
          <div id="waiting">
            <div class="row">
              <div class="col-sm-1" id="w_time"></div>
              <div class="col-sm-10"><span class="loader"><span class="loader-inner"></span></span><span id="waiting_text"></span></div>
            </div>
          </div>
          <div id="question">
            <div class="row">
              <div class="col-sm-1" id="q_time"></div>
              <div class="col-sm-9"><input autocomplete="off" type="text" id="newquestion" placeholder="Ask a new question" class="form-control"></div>
              <div clas="col-sm-1"><a class="btn btn-success" id="ask" type="submit">Ask</a></div>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div id="guess">
            <a class="btn btn-primary" id="guessbtn">GuessWhat!</a>
          </div>
          <div id="object">
          </div>
        </div>
        <div class="col-sm-2">
          <div id="report"><a id="report_user" class="btn btn-error">Report player</a>
          </div>
        </div>
      </div>
    </div>
 </div>
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-6" id="left">
      <div id="log"></div>
      <div id="intro" style="font-weight: 400">
        <h3>Game instructions</h3>
        <ul>
        <li>You will be shown an image of a scene with multiple objects. </li>
        <li>One of the objects will be assigned as the target (but not visible to you). </li>
        <li>Your job is to guess that object by asking yes or no questions.</li>
        <li>You click on the GuessWhat! button once you are certain which object it is. </li>
        <li>All object segmentations are shown in the image, and you click on your object.</li>
        <li>HIT is completed when you've guessed the correct object, otherwise we ask you to play another game</li>
        </ul>
        Please watch the instruction video on the right before starting your first game.

      </div>
      {% if accepted_hit %}
      <p id="p_newgame"><span id="newgame_text"></span>
        <a class="btn btn-success" id="newgame" role="button">Start the game &raquo;</a>
      </p>
      {% endif %}
      <p id="p_submit" style="margin: 20px 0 20px 0">
        Thank you for completing the game. In order to get rewarded for your effort you need to submit your HIT:
        <form id="mturk_form" method="POST" action="https://workersandbox.mturk.com/mturk/externalSubmit">
          <input type="hidden" id="assignmentId" name="assignmentId" value="{{ assignmentId }}">
          <input id="submitButton" type="submit" name="Submit" class="btn btn-success" value="Complete HIT">
        </form>
      </p>
      
    </div>
    <div class="col-sm-6" id ="right">
      <div style="position: relative;" id="image">
      <canvas id="img" width="100" height="100" 
       style="position: absolute; left: 0; top: 0; z-index: 0;"></canvas>
      <canvas id="segment" width="100" height="100" 
         style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
      </div>
    </div>
  </div>
</div>
{% endblock %}