{% extends "main.html" %}

{% block body %}

<div class="container">
  <div class="row">
  	Thank you for participating! Please submit your HIT below. <br /><br />
  	<form method="POST" action="{{turk_submit_to}}/mturk/externalSubmit">
		<input type="hidden" id="assignmentId" name="assignmentId" value="{{assignment_id}}" />
		<input type="hidden" name="test" id="test" value="test" />
		<input type="submit" class="btn btn-success" role="button" value="Submit HIT" />
    </form>
  </div>
</div>
{% endblock %}