{% extends "main.html" %}
 <h1>Hello, {{ user.nickname }}!</h1>
{% block body %}
<div class="container" style="margin-top: 15px">
  <table class="table table-striped">
  	<thead>
    <tr>
      <th>Role</th>
      <th>Status</th>
      <th>Previous Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
	    <tr>
	      <td>Oracle</td>
	      <td>{{ worker.oracle_status }}</td>
	      <td>{{ worker.prev_oracle_status }}</td>
	      <td>
              <form action="/worker/{{ worker.id }}/oracle_status" method="POST">
                  <select name="oracle_status">
                      <option value="default">Default</option>
                      <option value="qualified">Qualified</option>
                      <option value="blocked">Blocked</option>
                  </select>
                  <input type="submit" value="Update status">
             </form>
		</td>
	    </tr>
	    </tr>
	    <tr>
	      <td>Questioner</td>
	      <td>{{ worker.questioner_status }}</td>
	      <td>{{ worker.prev_questioner_status }}</td>
	      <td>
              <form action="/worker/{{ worker.id }}/questioner_status" method="POST">
                  <select name="questioner_status">
                      <option value="default">Default</option>
                      <option value="qualified">Qualified</option>
                      <option value="blocked">Blocked</option>
                  </select>
                  <input type="submit" value="Update status">
             </form>
		</td>
	    </tr>
  </tbody>
  </table>
</div>


<div class="container" style="margin-top: 15px">
  <table class="table table-striped">
  	<thead>
    <tr>
      <th>Is playing</th>
      <th>Role</th>
      <!--  <th>Socket id (DB) </th> -->
      <th>Socket id (io) </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
	    <tr>
	      <td>{{ worker.playing }}</td>
          <td>{{ worker.role }}</td>
	      <!--  <td>{{ worker.socket_db }}</td> -->
	      <td>{{ worker.socket_io }}</td>
	      <td>
             <form action="/worker/{{ worker.id }}/remove_socket" method="POST">
                  <input type="text" name="text_socket_io" value="{{ worker.socket_io }}" style="display: none;">
                  <input type="submit" value="Remove from socket">
             </form>
		</td>
	    </tr>
  </tbody>
  </table>

</div>



<div class="container" style="margin-top: 15px">
  <table class="table table-striped">
  	<thead>
    <tr>
      <th>Id</th>
      <th>#objects</th>
      <th>#questions</th>
      <th>Status</th>
      <th>Time</th>
      <th>Oracle?</th>
    </tr>
  </thead>
  <tbody>
  	{% for d in dialogues %}
	    <tr>
	      <th scope="row"><a href="/dialogue/{{d.id}}">{{d.id}}</a></th>
	      <td>{{d.nr_objs}}</td>
	      <td>{{d.nr_q}}</td>
	      <td>{{d.status}}</td>
	      <td>{{d.seconds}}s</td>
        <td>{{d.oracle}}</td>
	    </tr>
	{% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}
